In [41]:
select * from sparkoin.offsets

topic,partition,offset
block,0,3115
tx,0,3115

In [38]:
select count(*) from sparkoin.tx

count
1205